{
    "env": {
        "node": true,
        "es2020": true
    },
    "extends": [
        "eslint:recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "script"
    },
    "globals": {
        "document": "readonly",
        "XMLHttpRequest": "readonly",
        "window": "readonly",
        // Osekai
        "LoadRecentlyViewed": "writable",
        "filterAchieved": "writable",
        "requestMedals": "readonly",
        "oMedalSection": "readonly",
        "createXHR": "readonly",
        "getResponse": "readonly",
        "tippy": "readonly",
        "loadMedal": "readonly",
        "handleUndefined": "readonly",
        "nUserID": "readonly",
        "colMedals": "readonly",
        "positionNav": "readonly"
    },
    "rules": {
        "no-unused-vars": 1,
        "indent": [
            "error",
            "tab",
            {
                "MemberExpression": 1,
                "SwitchCase": 1
            }
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "spaced-comment": "error",
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ],
        "comma-spacing": [
            "error",
            {
                "after": true
            }
        ],
        "arrow-parens": [
            "error"
        ],
        "eol-last": "error",
        "no-global-assign": "off"
    }
}